# botgo specific
config.yml
*.db
*.db.lock
*.ini
*.bat
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.json

# Go specific
gensokyo.exe
gsk.exe
qf.exe

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

#ignore data
data/